.App {
  position: relative;
}
.bodySection {
  transform: translateY(42px);
}

/* Navbar */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: pink;
  height: 42px;
  background: rgba(35, 35, 35, 1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  transform: translateY(-1px);
}
.navbar-container {
  display: flex;
  align-items: center;
}
.navbar-title {
  font-size: 1.2rem;
  padding: 0rem 0.5rem;
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.navbar-title span {
  font-size: 1rem;
}
.navbar-links {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar-links--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(200, 200, 200);
}
.navbar-links--link:hover {
  background: blue;
}
.navbar-links--user {
  padding: 0.8rem 1rem;
}
.navbar-links--userLink {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-weight: bold;
}
.navbar-links--purchase {
  background: green;
  color: white;
  font-weight: bold;
}

/* HERO */
.hero {
  width: 100%;
  min-height: 500px;
  height: 41vw;
}
.hero-textContainer {
  width: 450px;
  margin-left: 4vw;
  padding-top: 8.5vw;
}
.hero-textContainer-img {
  width: 100%;
}
.hero-textContainer-p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.hero-textContainer-links {
  display: flex;
  gap: 25px;
}
.hero-textContainer-links--link {
  padding: 10px 0;
  background: white;
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
